<div class="container">
  <h1>My Weapons</h1>
  <a routerLink="/weapon-detail/new" class="btn btn-success">
    <i class="bi bi-plus-lg"></i>New weapon</a
  >
  <weapon-search #weaponSearch></weapon-search>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div
      *ngFor="let weapon of weapons | filterWeapons: weaponSearch.currSearch"
      class="col"
    >
      <div class="card">
        <img src="" class="card-img-top" alt="" />
        <div class="card-body">
          <h5 class="card-title">{{ weapon.name }}</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Attack : {{ weapon.attack }}</li>
            <li class="list-group-item">Dodge : {{ weapon.dodge }}</li>
            <li class="list-group-item">Life points : {{ weapon.lp }}</li>
            <li class="list-group-item">Damages : {{ weapon.damages }}</li>
          </ul>
        </div>
        <div class="card-body">
          <div class="d-flex flex-row-reverse">
            <button class="btn btn-danger" (click)="delete(weapon)">
              <i class="bi bi-trash-fill"></i> delete
            </button>
            <a
              routerLink="/weapon-detail/{{ weapon.id }}"
              class="btn btn-primary"
              ><i class="bi bi-pencil-fill"></i> edit</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
