<div *ngIf="hero">
  <h2>{{ hero.name | uppercase }} Details</h2>
  <div><span>id: </span>{{ hero.id }}</div>

  <form [formGroup]="heroForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="hero-name">Hero name: </label>
      <input id="hero-name" formControlName="name" placeholder="name" />
    </div>
    <!-- Attack input -->
    <div>
      <label for="hero-attack">Attack: </label>
      <input
        id="hero-attack"
        type="number"
        min="1"
        formControlName="attack"
        placeholder="attack"
      />
    </div>
    <!-- Dodge input -->
    <div>
      <label for="hero-dodge">Dodge: </label>
      <input
        id="hero-dodge"
        type="number"
        min="1"
        formControlName="dodge"
        placeholder="dodge"
      />
    </div>
    <!-- lp input -->
    <div>
      <label for="hero-lp">Life Points: </label>
      <input
        id="hero-lp"
        type="number"
        min="1"
        formControlName="lp"
        placeholder="lp"
      />
    </div>
    <!-- Weapon select -->
    <div>
      <label for="hero-weapon">Weapon: </label>
      <select id="hero-weapon" formControlName="weaponId">
        <option *ngFor="let weapon of weapons" [value]="weapon.id">
          {{ weapon.name }}
        </option>
      </select>
    </div>
    <!-- Submit -->
    <button type="submit">Submit</button>
  </form>
  <div>{{ heroForm.value?.['maxStatHero'] }}</div>
  <div
    *ngIf="heroForm.errors?.['maxStatHero']"
    class="cross-validation-error-message alert alert-danger"
  >
    Max 40 points
  </div>
  <div [hidden]="heroForm.errors?.['maxStatHero']">
    Points restants: {{ pointsLeft }}
  </div>
  <div>ARME stat: {{ weapon?.attack }}</div>
</div>
