<div>
  <h2 *ngIf="hero">{{ hero.name | uppercase }}</h2>
  <form class="mx-auto" [formGroup]="heroForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label class="form-label" for="hero-name">Name</label>
      <input
        class="form-control"
        id="hero-name"
        formControlName="name"
        placeholder="name"
      />
    </div>
    <!-- Attack input -->
    <div class="mb-3">
      <label class="form-label" for="hero-attack">Attack</label>
      <input
        class="form-control"
        id="hero-attack"
        type="number"
        min="1"
        formControlName="attack"
        placeholder="attack"
      />
    </div>
    <!-- Dodge input -->
    <div class="mb-3">
      <label class="form-label" for="hero-dodge">Dodge</label>
      <input
        class="form-control"
        id="hero-dodge"
        type="number"
        min="1"
        formControlName="dodge"
        placeholder="dodge"
      />
    </div>
    <!-- lp input -->
    <div class="mb-3">
      <label class="form-label" for="hero-lp" class="form-label"
        >Life Points
      </label>
      <input
        class="form-control"
        id="hero-lp"
        type="number"
        min="1"
        formControlName="lp"
        placeholder="lp"
      />
    </div>
    <!-- Weapon select -->
    <div class="mb-3">
      <label class="form-label" for="hero-weapon">Weapon</label>
      <select class="form-select" id="hero-weapon" formControlName="weaponId">
        <option *ngFor="let weapon of weapons" [value]="weapon.id">
          {{ weapon.name }}
        </option>
      </select>
    </div>
    <!-- Submit -->
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <div>{{ heroForm.value?.['maxStatHero'] }}</div>
  <div
    *ngIf="heroForm.errors?.['maxStatHero']"
    class="cross-validation-error-message alert alert-danger"
  >
    Max 40 points
  </div>
  <div [hidden]="heroForm.errors?.['maxStatHero']">
    Points restants: {{ pointsLeft }}
  </div>
  <div>ARME stat: {{ weapon?.attack }}</div>
</div>
