<div>
  <h1 class="text-center" *ngIf="!hero">New hero</h1>
  <h1 class="text-center" *ngIf="hero">Hero: {{ hero.name | uppercase }}</h1>
  <form class="mx-auto" [formGroup]="heroForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label class="form-label" for="hero-name">Name</label>
      <input
        class="form-control"
        id="hero-name"
        formControlName="name"
        placeholder="name"
      />
    </div>
    <!-- Attack input -->
    <div class="mb-3">
      <label class="form-label" for="hero-attack">Attack</label>
      <input
        class="form-control"
        id="hero-attack"
        type="number"
        min="1"
        formControlName="attack"
        placeholder="attack"
      />
    </div>
    <!-- Dodge input -->
    <div class="mb-3">
      <label class="form-label" for="hero-dodge">Dodge</label>
      <input
        class="form-control"
        id="hero-dodge"
        type="number"
        min="1"
        formControlName="dodge"
        placeholder="dodge"
      />
    </div>
    <!-- Lp input -->
    <div class="mb-3">
      <label class="form-label" for="hero-lp" class="form-label"
        >Life points
      </label>
      <input
        class="form-control"
        id="hero-lp"
        type="number"
        min="1"
        formControlName="lp"
        placeholder="lp"
      />
    </div>
    <!-- Damages input -->
    <div class="mb-3">
      <label class="form-label" for="hero-damages">Damages</label>
      <input
        class="form-control"
        id="hero-damages"
        type="number"
        min="1"
        formControlName="damages"
        placeholder="damages"
      />
    </div>
    <!-- Weapon select -->
    <div class="mb-3">
      <label class="form-label" for="hero-weapon">Weapon</label>
      <select class="form-select" id="hero-weapon" formControlName="weaponId">
        <option [ngValue]="null">No weapon</option>
        <option *ngFor="let weapon of weapons" [value]="weapon.id">
          {{ weapon.name }}
        </option>
      </select>
    </div>
    <!-- Hero's stats -->
    <div
      class="cross-validation-success-message alert alert-success"
      [hidden]="heroForm.errors?.['maxStatHero']"
    >
      {{ pointsLeft }} point(s) you can still assign
    </div>
    <div
      class="cross-validation-error-message alert alert-danger"
      *ngIf="heroForm.errors?.['maxStatHero']"
    >
      Careful, you can only assign 40 points ! ({{ pointsLeft }}
      extra point(s))
    </div>
    <!-- Submit -->
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
