<div>
  <h1 class="text-center" *ngIf="!weapon">New weapon</h1>
  <h1 class="text-center" *ngIf="weapon">
    Weapon: {{ weapon.name | uppercase }}
  </h1>

  <form class="mx-auto" [formGroup]="weaponForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label class="form-label" for="weapon-name">Name</label>
      <input
        class="form-control"
        id="weapon-name"
        formControlName="name"
        placeholder="name"
      />
    </div>
    <!-- Attack input -->
    <div class="mb-3">
      <label class="form-label" for="weapon-attack">Attack</label>
      <input
        class="form-control"
        id="weapon-attack"
        type="number"
        min="-5"
        max="5"
        formControlName="attack"
        placeholder="attack"
      />
    </div>
    <!-- Dodge input -->
    <div class="mb-3">
      <label class="form-label" for="weapon-dodge">Dodge</label>
      <input
        class="form-control"
        id="weapon-dodge"
        type="number"
        min="-5"
        max="5"
        formControlName="dodge"
        placeholder="dodge"
      />
    </div>
    <!-- lp input -->
    <div class="mb-3">
      <label class="form-label" for="weapon-lp">Life points</label>
      <input
        class="form-control"
        id="weapon-lp"
        type="number"
        min="-5"
        max="5"
        formControlName="lp"
        placeholder="lp"
      />
    </div>
    <!-- damages input -->
    <div class="mb-3">
      <label class="form-label" for="weapon-damages">Damages</label>
      <input
        class="form-control"
        id="weapon-damages"
        type="number"
        min="-5"
        max="5"
        formControlName="damages"
        placeholder="damages"
      />
    </div>
    <div
      *ngIf="weaponForm.errors?.['statWeapon']"
      class="cross-validation-warning-message alert alert-warning"
    >
      The sum of the points must be equal to 0
    </div>
    <div
      *ngIf="weaponForm.errors?.['statWeapon']"
      class="cross-validation-error-message alert alert-danger"
    >
      {{ pointsLeft }} point(s) to assign
    </div>

    <!-- Submit -->
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
  <div>{{ weaponForm.value?.['statWeapon'] }}</div>
</div>
