<div class="container">
  <h1>My Heroes</h1>
  <div class="d-flex flex-row-reverse">
    <a routerLink="/hero-detail/new" class="btn btn-success"
      ><i class="bi bi-plus-lg"></i> New hero</a
    >
  </div>
  <hero-search #heroSearch></hero-search>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div
      *ngFor="let hero of heroes | filterHeros: heroSearch.currSearch"
      class="col"
    >
      <div class="card">
        <img src="" class="card-img-top" alt="" />
        <div class="card-body">
          <h5 class="card-title">{{ hero.name }}</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Attack : {{ hero.attack }}</li>
            <li class="list-group-item">Dodge : {{ hero.dodge }}</li>
            <li class="list-group-item">Life points : {{ hero.lp }}</li>
            <li class="list-group-item">Damages : {{ hero.damages }}</li>
          </ul>
        </div>
        <div class="card-body">
          <div class="d-flex flex-row-reverse">
            <button class="btn btn-danger" (click)="delete(hero)">
              <i class="bi bi-trash-fill"></i> delete
            </button>
            <a routerLink="/hero-detail/{{ hero.id }}" class="btn btn-primary"
              ><i class="bi bi-pencil-fill"></i> edit</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
